$primary-color: #0277D8;
$secondary-color: #2A6BA2;
$darker-color: #014D8C;
$brighter-color: #3D9CEC;
$light-color: #6BB1EC;
$menu-back-color:$primary-color;
$text-color: #fff;
$text-color_gray:  #222;

@import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);

body {
  font-family: 'PT sans', Arial, sans-serif;
  color: $text-color_gray;
  font-size: 20px;

  .langs {
    cursor: pointer;
  }

  a {
    color: $light-color;
    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }

  header {
    font-size: 14px;
    .navbar {
      background: $menu-back-color;
      border: none;  }
    .nav>li>a {
      border-bottom: 3px solid transparent;  }
    .nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
      border-bottom: 3px solid transparent;
      background: none;  }
    .navbar a, .navbar-toggle{
      color: #fff;  }
    .navbar-toggle .icon-bar{
      color: #fff;
      background: #fff;  }
  }

  .main_content {
    margin-top: 36px;
    margin-bottom: 10px;
    min-height: 400px;
    text-align: center;
    padding: 20px;
    p:first-child {
      border-bottom: solid 2px;
      border-color: $light-color;
    }
    p {
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }

  .about_table {
    width: 100%;
    text-align: left;
    td:first-child {
      text-align: right;
      width: 50%;
      padding-right: 50px;
    }
    td:last-child {
      padding-left: 50px;
    }
  }

  .btn-primary {
    background: $primary-color;
    transition: 0.3s;
    &:hover {
      background: $darker-color;
    }
  }

  .article_main {
    padding: 5px 20px;
    min-height: 200px;

    .article_date {
      text-align: right;
      padding-bottom: 5px;
      border-bottom: 3px solid;
      border-color: $brighter-color;
      font-family: Constantia;
      margin-bottom: 5px;
    }
    .article_title {
      color: $brighter-color;
      text-align: center;
      h3 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .article_text {
      text-align: left;
    }
  }

  footer {
    text-align: right;
    margin-bottom: 10px;
  }

}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $text-color;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.alignL {
  text-align: left !important;
}

